{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('.static', filename='hypermock.js') }}"></script>
{% endblock %}

{% block page %}
    
    <div class="mockup-edit">
        <div class="preview-container">
            <div class="preview">
                <img src="{{ mockup.image }}" alt="Mockup image" />
            </div>
        </div>
            
        <div class="project">
            <div class="navigation">
                <h2>Project</h2>
                <a class="button" href="{{ url_for('.index') }}">Back</a>
            </div>
        </div>
        
        <div class="tools">
            <div class="toolbox">
                <h2>Tools</h2>
                <a class="button tool addComment" href="#">Comment</a>
                <a class="button tool addLink" href="#">Link</a>
                <!-- TODO: More tools -->
            </div>
        </div>
    </div>
    
{% endblock %}
