{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='hypermock.js') }}"></script>
{% endblock %}

{% block page %}
    
    <div class="mockup">
        <div class="project">
            <a href="{{ url_for('.index') }}">Back</a>
        </div>
        
        <div class="preview">
            <img src="{{ image }}" alt="Mockup image" />
        </div>
        
        <div class="tools">
            <!-- TODO: Tools -->
        </div>
    </div>
    
{% endblock %}
