{% extends "base.html" %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('.static', filename='hypermock.js') }}"></script>
{% endblock %}

{% block page %}
    
    <div class="mockupEdit">
        <div class="previewContainer">
            <div class="previewPane">
                <img class="preview" src="{{ mockup.image }}" alt="Mockup image" />
            </div>
        </div>

        <div class="project">
            <div class="pane">
                <div class="navigation">
                    <h2>Project</h2>
                    <a class="button" href="{{ url_for('.index') }}">Back</a>
                </div>
                <div class="tools">
                    <h2>Tools</h2>
                    <a class="button tool pointerTool selected" href="#">Pointer</a>
                    <a class="button tool hyperlinkTool" href="#">Hyperlink</a>
                    <a class="button tool commentTool" href="#">Comment</a>
                    <!-- TODO: More tools -->
                </div>
            </div>
        </div>

        <div class="subtools">
            <div class="pane">
            </div>
        </div>

        <div class="popups">
            <div class="popup popupToolPreview"></div>
        </div>
    </div>
    
{% endblock %}
