@charset "utf-8";


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Restore monospace fonts */
pre, code, kbd, samp, tt {
    font-family: monospace,monospace;
    font-size: 1em;
}


/* Main styles */
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font: 16px Arial, Georgia, serif;
}

h1 {
    font-size: 24px;
}

a {
    color: #38f;
    font-size: 14px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.empty-list {
    margin: 64px 0;
}

.empty-list span {
    font-size: 12px;
    color: #333;
    border: 1px solid #888;
    background-color: #ccc;
    padding: 32px 48px;
}

.mockup-list {
   float: left;
   width: 100%;
   overflow: hidden;
   position: relative;
}
.mockup-list ul {
   clear: left;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   left: 50%;
   text-align: center;
}
.mockup-list ul li {
   display: block;
   float: left;
   list-style: none;
   margin: 12px 0 12px 24px;
   padding: 0;
   position: relative;
   right: 50%;
}

.mockup-list a {
    display: block;
    width: 130px;
}

.mockup-list a:hover img, .mockup-list a:hover img.default-mockup {
    box-shadow: 0 0 6px 6px #88f;
    -moz-box-shadow: 0 0 6px 6px #88f;
    -webkit-box-shadow: 0 0 6px 6px #88f;
}

.mockup-list a img {
    display: block;
    margin: 0 auto 8px;
    border: 1px solid #333;
}

.mockup-list a img.default-mockup {
    box-shadow: 0 0 8px 8px #ff6;
    -moz-box-shadow: 0 0 8px 8px #ff6;
    -webkit-box-shadow: 0 0 8px 8px #ff6;
}

.relationships {
    text-align: center;
}

.relationships h1 {
    margin: 24px 12px 12px;
}

.preview-container {
    float: left;
    width: 100%;
}

.preview {
    margin: 0 200px 0 230px; /* "0 <RightColumnWidth> 0 <LeftColumnWidth> */
    text-align: center;
}

.project {
    float: left;
    width: 230px; /* <LeftColumnWidth> */
    margin-left: -100%;
}

.tools {
    float: left;
    width: 200px; /* <RightColumnWidth> */
    margin-left: -200px; /*  -<RightColumnWidth> */
}
