@charset "utf-8";


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Restore monospace fonts */
pre, code, kbd, samp, tt {
    font-family: monospace,monospace;
    font-size: 1em;
}


/* Main styles */
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font: 16px Arial, Georgia, serif;
}

h1 {
    font-size: 24px;
}

.relationships {
    text-align: center;
}

.relationships h1 {
    margin: 24px 12px 12px;
}

.mockup-list {
   float: left;
   width: 100%;
   overflow: hidden;
   position: relative;
}
.mockup-list ul {
   clear: left;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   left: 50%;
   text-align: center;
}
.mockup-list ul li {
   display: block;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   right: 50%;
}

.mockup-list a {
    float: left;
    margin: 12px;
}

.mockup-list a:hover {
    box-shadow: 0 0 5px 5px #88f;
    -moz-box-shadow: 0 0 5px 5px #88f;
    -webkit-box-shadow: 0 0 5px 5px #88f;
}

.mockup-list img {
    display: block;
    border: 1px solid #333;
}

.mockup-edit {
    text-align: center;
}
